
// Default Title Color

	$defaultTitleColor: #222d43;

// Default Text Color

	$defaultTextColor: #222d43;

// Default URL & Hover Color

	$defaultUrlColor: #f5c16e;
	$defaultUrlHoverColor: #e3925d; 

