@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,500&display=swap");
html {
    height: 100%;
}

body,
html {
    background: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222d43;
    padding: 0;
    margin: 0;
}

p,
blockquote,
pre,
span,
strong,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    color: #333;
    padding: 0;
    margin: 0;
}

img {
    -webkit-user-drag: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

button {
    outline: none;
}

input, select {
    color: #999999;
}

a {
    color: #222d43;
    cursor: pointer;
    text-decoration: none;
}

.overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.vh-centered {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.v-centered {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.h-centered {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.eff01 {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.eff02 {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.eff03 {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.hidden-b {
    overflow: hidden;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000009;
}

.loading-overlay .loading-icon-wrap {
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFF;
}

.loading-overlay .loading-icon-wrap img {
    width: 100%;
}

.inner-wrap {
    position: relative;
    max-width: 1360px;
    width: calc( 100% - 32px);
    margin: 0 auto;
}

.btn {
    border: solid 1px transparent;
    color: #4A1725;
    text-decoration: none;
    padding: 12px 24px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 24px;
}

.btn:last-child {
    margin-right: 0;
}

.btn.red {
    border: 0;
    background: #4A1725;
    color: #ffffff;
}

.btn.transparent {
    background: transparent;
    border: 1px solid #4A1725;
    color: #4A1725;
}

.btn.silver {
    background: #E6E6E6;
    color: #5E5E5E;
}

.btn:hover, .btn.active {
    background: #4A1725;
    color: #ffffff;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000008;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.33);
    display: none;
}

.popup.TestLevelPopup .dialog {
    max-width: 664px;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap {
    padding: 56px 56px 100px;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap h2 {
    font-size: 24px;
    color: #5E5E5E;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap ul {
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 8px;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    cursor: pointer;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap ul li.easy {
    background: #42D395;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap ul li.medium {
    background: #EAD36E;
}

.popup.TestLevelPopup .dialog .form-box .form-box-wrap ul li.hard {
    background: #4A1725;
    color: #FFFFFF;
}

.popup .dialog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 32px);
    min-height: calc(100% - (96px));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 48px auto;
}

.popup .dialog .form-box {
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}

.popup .dialog .form-box .form-box-wrap {
    background: #fff;
    padding: 30px;
}

.popup .close-popup {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

header {
    height: 100px;
    -webkit-box-shadow: 0px 0px 6px #00000029;
    box-shadow: 0px 0px 6px #00000029;
}

header .inner-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

header .inner-wrap li {
    list-style: none;
}

header .inner-wrap .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .inner-wrap .left .logo img {
    width: 67px;
}

header .inner-wrap .left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .inner-wrap .left ul li {
    margin-left: 60px;
}

header .inner-wrap .left ul li a {
    color: #707070;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .inner-wrap .left ul li a:hover, header .inner-wrap .left ul li a .active {
    color: #4A1725;
}

header .inner-wrap .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .inner-wrap .right .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .inner-wrap .right .social ul li {
    margin-right: 24px;
}

header .inner-wrap .right .btn {
    margin-left: 24px;
}

.home-page {
    margin: 40px 0;
}

.home-page .questions-reset {
    margin-bottom: 32px;
}

.home-page .questions-reset .inner-wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.home-page .questions-reset .inner-wrap .reset ul li {
    margin-right: 0;
    margin-left: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.home-page .questions-reset .inner-wrap .reset ul li:hover {
    color: #4A1725;
}

.home-page .questions-reset .inner-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home-page .questions-reset .inner-wrap ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 600;
    margin-right: 40px;
}

.home-page .questions-reset .inner-wrap ul li i {
    margin-right: 8px;
}

.home-page .questions-reset .inner-wrap ul li .questions-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
}

.home-page .questions-reset .inner-wrap ul li .questions-number span {
    font-size: 16px;
    color: #9E9E9E;
}

.home-page .questions-reset .inner-wrap ul li .questions-number span.active-question-number {
    color: #4A1725;
}

.home-page .questions-reset .inner-wrap ul li .questions-number p {
    font-size: 16px;
    color: #9E9E9E;
}

.home-page .inner-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.home-page .inner-wrap .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.home-page .inner-wrap .left .SkipQuestion {
    margin-top: 24px;
    background: transparent;
    color: #4A1725;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    padding: 4px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.home-page .inner-wrap .left .SkipQuestion:hover {
    color: #f9a5a5;
}

.home-page .inner-wrap .left .music-note {
    padding-top: 74px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 420px;
    background: #FBFBFB;
    -webkit-box-shadow: 0px 0px 6px #00000021;
    box-shadow: 0px 0px 6px #00000021;
    overflow: hidden;
}

.home-page .inner-wrap .left .music-note .RangeInfo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin: 0 16px;
}

.home-page .inner-wrap .left .music-note .RangeInfo .ClefImg {
    top: 60%;
}

.home-page .inner-wrap .left .music-note .RangeInfo .ClefImg img {
    height: 160px;
}

.home-page .inner-wrap .left .music-note .RangeInfo .ClefImg img.note2 {
    height: 72px;
    margin-bottom: 28px;
}

.home-page .inner-wrap .left .music-note .RangeInfo .ClefImg img.note3 {
    height: 100px;
}

.home-page .inner-wrap .left .music-note .RangeInfo .ClefImg img.note4 {
    height: 100px;
    margin-bottom: 52px;
}

.home-page .inner-wrap .left .music-note .RangeInfo .lines {
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.home-page .inner-wrap .left .music-note .RangeInfo .lines li {
    width: 100%;
    margin-bottom: 24px;
    border-bottom: solid 1px #CFCFCF;
    list-style: none;
}

.home-page .inner-wrap .left .music-note .RangeInfo .lines li:last-child {
    margin-bottom: 0;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg {
    position: absolute;
    right: 0;
    width: 100%;
    height: 101px;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .RangeLinesLeft {
    position: absolute;
    bottom: 100%;
    right: 44%;
    width: 80px;
    display: none;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .RangeLinesLeft.BottomLines {
    top: 100%;
    bottom: initial;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .RangeLinesLeft li {
    width: 100%;
    margin: 24px 0;
    list-style: none;
    border-bottom: solid 1px #CFCFCF;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .RangeLinesRight {
    position: absolute;
    bottom: 100%;
    right: 10%;
    width: 80px;
    display: none;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .RangeLinesRight.BottomLines {
    top: 100%;
    bottom: initial;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .RangeLinesRight li {
    width: 100%;
    margin: 24px 0;
    list-style: none;
    border-bottom: solid 1px #CFCFCF;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .img {
    position: absolute;
    top: 0;
    width: 80px;
    border-bottom: solid 1px transparent;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .img.img1 {
    top: 38px;
    right: 44%;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .img.img2 {
    top: 93px;
    right: 10%;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .img img {
    bottom: -12px;
    height: 24px;
    background-color: whitesmoke;
    z-index: 1;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .img .overlay.top {
    width: 80px;
    height: 320px;
    position: absolute;
    top: -331px;
    left: 0;
    background: #FBFBFB;
    display: none;
}

.home-page .inner-wrap .left .music-note .RangeInfo .RangeImg .img .overlay.bottom {
    width: 82px;
    height: 320px;
    position: absolute;
    bottom: -321px;
    top: initial;
    left: 0;
    background: #FBFBFB;
    display: none;
}

.home-page .inner-wrap .left .item-wrap {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.home-page .inner-wrap .left .item-wrap .item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 56px;
    flex: 1 0 56px;
    height: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #4A1725;
    font-weight: 600;
    margin: 24px 16px 0 16px;
    -webkit-box-shadow: 0px 0px 6px #00000021;
    box-shadow: 0px 0px 6px #00000021;
    border-radius: 6px;
    background-color: #FBFBFB;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.home-page .inner-wrap .left .item-wrap .item:hover {
    background: #f5f5f5;
}

.home-page .inner-wrap .left .item-wrap .item.disabled {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcb0b0), to(#f08080));
    background: linear-gradient(180deg, #fcb0b0, #f08080);
    color: rgba(0, 0, 0, 0.5);
    cursor: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home-page .inner-wrap .left .item-wrap .item.actionable {
    background: -webkit-gradient(linear, left top, left bottom, from(#70fc70), to(#5ce65c));
    background: linear-gradient(180deg, #70fc70, #5ce65c);
    color: #000000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home-page .inner-wrap .right {
    margin-left: 32px;
    margin-bottom: 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.home-page .inner-wrap .right #renderButton {
    margin-top: 32px;
    border: 1px solid transparent;
    padding: 14px 24px;
    font-weight: 600;
    font-size: 18px;
}

.home-page .inner-wrap .right #renderButton:hover {
    background: transparent;
    color: #4A1725;
    border: 1px solid #4A1725;
}

.home-page .inner-wrap .right .difficultly h2 {
    font-size: 32px;
    font-weight: bold;
    color: #4A1725;
}

.home-page .inner-wrap .right .difficultly .btn-wrap {
    margin-top: 24px;
}

.home-page .inner-wrap .right .difficultly .btn-wrap .btn.active span, .home-page .inner-wrap .right .difficultly .btn-wrap .btn:hover span {
    color: #FFFFFF;
}

.home-page .inner-wrap .right .difficultly .btn-wrap .btn span {
    color: #5E5E5E;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.home-page .inner-wrap .right .customize {
    margin-top: 24px;
}

.home-page .inner-wrap .right .customize h2 {
    font-size: 32px;
    font-weight: bold;
    color: #4A1725;
}

.home-page .inner-wrap .right .customize .customize-items {
    margin-top: 8px;
}

.home-page .inner-wrap .right .customize .customize-items li.item {
    margin-top: 16px;
    list-style: none;
    -webkit-box-shadow: 0px 0px 6px #0000001C;
    box-shadow: 0px 0px 6px #0000001C;
}

.home-page .inner-wrap .right .customize .customize-items li.item.open .title i {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.home-page .inner-wrap .right .customize .customize-items li.item .info {
    margin-top: 8px;
    padding: 0px 24px 12px;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 18px);
    flex: 0 0 calc(25% - 18px);
    margin-right: 24px;
    cursor: pointer;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item:nth-child(4n+4) {
    margin-right: 0;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item.active .inner-item {
    background: #4A1725;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item.active .inner-item img {
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item .inner-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 128px;
    background: #F5F5F5;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item .inner-item img {
    position: relative;
    z-index: 1;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item .inner-item ul {
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item .inner-item ul li {
    width: 100%;
    margin: 14px 0;
    height: 0.5px;
    background: #CFCFCF;
    list-style: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Clefs .item-wrap .Clefs-item span {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    color: #5E5E5E;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info {
    margin: 0;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 20px);
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item.active {
    display: block;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item h2 {
    font-size: 16px;
    font-weight: bold;
    color: #5E5E5E;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .Range-item-text {
    overflow: hidden;
    margin-top: 6px;
    padding: 16px;
    height: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeArrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeArrows button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    padding: 0;
    background: transparent;
    font-size: 14px;
    color: #5e5e5e;
    border: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeArrows button:hover {
    background: #4A1725;
    color: #ffffff;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin: 0 12px;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .lines {
    top: 60%;
    width: 100%;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .lines li {
    width: 100%;
    margin-bottom: 15.5px;
    border-bottom: solid 1px #CFCFCF;
    list-style: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .lines li:last-child {
    margin: 0;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg {
    position: absolute;
    top: 60%;
    right: 0;
    width: 100%;
    height: 65px;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .RangeLinesLeft {
    position: absolute;
    bottom: 100%;
    right: 80px;
    width: 42px;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .RangeLinesLeft.BottomLines {
    top: 100%;
    bottom: initial;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .RangeLinesLeft li {
    width: 100%;
    margin: 15px 0;
    list-style: none;
    border-bottom: solid 1px #CFCFCF;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .RangeLinesRight {
    position: absolute;
    bottom: 100%;
    right: 8px;
    width: 42px;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .RangeLinesRight.BottomLines {
    top: 100%;
    bottom: initial;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .RangeLinesRight li {
    width: 100%;
    margin: 15px 0;
    list-style: none;
    border-bottom: solid 1px #CFCFCF;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .img {
    position: absolute;
    top: 0;
    width: 42px;
    border-bottom: solid 1px transparent;
    z-index: 1;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .img.img1 {
    top: 16px;
    right: 80px;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .img.img2 {
    top: 48px;
    right: 8px;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .img img {
    bottom: -8px;
    height: 15px;
    background-color: whitesmoke;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .img .overlay.top {
    width: 48px;
    height: 206px;
    position: absolute;
    top: -212px;
    left: 0;
    background: #F5F5F5;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.Range .info .item-wrap .Range-item .RangeInfo .RangeImg .img .overlay.bottom {
    width: 48px;
    height: 250px;
    position: absolute;
    bottom: -257px;
    top: initial;
    left: 0;
    background: #F5F5F5;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 24px;
    padding: 6px 24px;
    background: #E6E6E6;
    font-size: 16px;
    color: #5E5E5E;
    font-weight: 600;
    display: none;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item:last-child {
    margin-right: 0;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item .plus_minus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    margin-left: 12px;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item .plus_minus input {
    width: 40px;
    border: 0;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    text-align: center;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item .plus_minus .icons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 10px;
    color: #FFFFFf;
    background: #C5C5C5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.home-page .inner-wrap .right .customize .customize-items li.item.NumberOfQuestions .item-wrap .Number-item .plus_minus .icons div:hover {
    background: #4A1725;
}

.home-page .inner-wrap .right .customize .customize-items li.item .title {
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 600;
    color: #5E5E5E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.home-page .inner-wrap .right .customize .customize-items li.item .title i {
    color: #5E5E5E;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home-page .inner-wrap .right .print-save-btn {
    margin-top: 62px;
}

.worksheet {
    margin-top: 100px;
}

.worksheet .inner-wrap .item-wrap .item {
    margin-bottom: 56px;
}

.worksheet .inner-wrap .item-wrap .item h2 {
    font-size: 32px;
    color: #4A1725;
    font-weight: bold;
}

.worksheet .inner-wrap .item-wrap .item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.worksheet .inner-wrap .item-wrap .item ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 24px);
    flex: 0 0 calc(25% - 24px);
    min-height: 194px;
    padding: 24px;
    margin-top: 32px;
    margin-right: 32px;
    list-style: none;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px #0000001C;
    box-shadow: 0px 0px 6px #0000001C;
    cursor: pointer;
}

.worksheet .inner-wrap .item-wrap .item ul li:nth-child(4n+4) {
    margin-right: 0;
}

.worksheet .inner-wrap .item-wrap .item ul li img {
    width: 20px;
}

.worksheet .inner-wrap .item-wrap .item ul li h3 {
    margin-top: 16px;
    color: #5E5E5E;
    font-size: 24px;
    font-weight: 600;
}

.worksheet .inner-wrap .item-wrap .item ul li p {
    margin-top: 8px;
    color: #5E5E5E;
    font-size: 14px;
}

.ClefImg.v-centered {
    top: 60% !important;
}
/*# sourceMappingURL=main.css.map */